{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Gestion Carte Sim.
			</h3>
			<h3>
				Salut Ceci est une base de données qui permet d'avoir une gestion des cartes sim.<br>
			</h3>
			<ul>
				<li class="list-item">
					Lire le readme.md
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
