{% extends "base.html" %}
{% block title %} Afficher Téléphone {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Téléphone à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Modele
                        </th>
						<th class="align-middle">
                            Numéro de série
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_telephone }}
						</td>
						<td class="align-middle">
							{{ row.Modele_telephone }}
						</td>
						<td class="align-middle">
							{{ row.numero_de_serie_telephone }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-outline-primary" href="{{ url_for('telephone_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-outline-warning" href="{{ url_for('telephone_update_wtf', ID_telephone_btn_edit_html=row.ID_telephone) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-outline-danger" href="{{ url_for('telephone_delete_wtf', ID_telephone_btn_delete_html=row.ID_telephone) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun PC.
						</td>
						<td>
							<a class="btn btn-outline-info" href="{{ url_for('telephone_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

